<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <% if(user) { %>
          <li class="main-header__item">
            <a
              class="<%= path === '/Players' ? 'active' : '' %>"
              href="/Players"
              >All Players</a
            >
          </li>
          <% } %>
        </ul>
        <ul class="main-header__item-list">
          <% if(admin) { %>
          <li class="main-header__item">
            <a
              class="<%= path === '/adminPage' ? 'active' : '' %>"
              href="/adminPage"
              >Admin</a
            >
          </li>
          <% } %> <% if(user) { %>
          <li class="main-header__item">
            <a
              class="<%= path === '/addPlayer' ? 'active' : '' %>"
              href="/addPlayer"
              >Add Player</a
            >
          </li>
          <% } %>
          <li class="main-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">LogOut</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form class="product-form" action="/addPlayer" method="POST">
        <div class="form-control">
          <label for="code">Code: </label>
          <input type="text" name="code" id="code" placeholder="Enter 345235" />
          <% if (message) { %>
          <p style="color: red"><%= message %></p>
          <% } %>
        </div>
        <div class="form-control">
          <label for="playerName">Player Name</label>
          <input type="text" name="playerName" id="playerName" />
        </div>
        <div class="form-control">
          <label for="from">From</label>
          <input type="text" name="from" id="from" />
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input type="text" name="price" id="price" />
        </div>

        <div class="form-control">
          <label for="isPlaying">Is Playing</label>
          <input type="text" name="isPlaying" id="isPlaying" />
        </div>

        <div class="form-control">
          <label for="description">Description</label>
          <input type="text" name="description" id="description" />
        </div>

        <button class="btn" type="submit">Add Player</button>
      </form>
    </main>
  </body>
</html>
