<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a
              class="<%= path === '/Players' ? 'active' : '' %>"
              href="/Players"
              >All Players</a
            >
          </li>
          <li class="main-header__item">
            <a
              class="<%= path === '/addPlayer' ? 'active' : '' %>"
              href="/addPlayer"
              >Add Player</a
            >
          </li>
          <li class="main-header__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">LogOut</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="grid">
        <% for (let player of players) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title">
              Player: <%= player.player.playerName %>
            </h1>
            <h3 class="product__title">From: <%= player.player.from %></h3>
          </header>
          <div class="card__content">
            <h4 class="product__price">
              Is Playing: <%= player.player.isPlaying %>
            </h4>
            <h4 class="product__price">Price: <%= player.player.price %></h4>
            <p class="product__description">
              Description: <%= player.player.description %>
            </p>
          </div>
        </article>
        <% } %>
      </div>
      <% for (let player of players) { %>
      <form method="POST" action="/:playerId=<%= player.player._id %>">
        <div class="form-control">
          <textarea placeholder="Comments" name="comments" rows="5"></textarea>
          <input
            type="hidden"
            value="<%= player.player._id %>"
            name="playerId"
          />
          <button class="btn" type="submit">Submit</button>
        </div>
      </form>
      <% } %> <% if (comments.length > 0) { %>
      <div>
        <% for (let comment of comments) { %>

        <article class="card product-item">
          <header class="card__header">
            <h4 class="product__title">=> <%= comment.message %></h4>
          </header>
        </article>

        <% } %>
      </div>
      <% } else { %>
      <h1>No Comments Found!</h1>
      <% } %>
    </main>
  </body>
</html>
